<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">JHOIMT</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
<!--        <li><a href="/coming-soon">>= 1.0</a></li>-->
        <li><a href="/1.1">1.1</a></li>
        <li><a href="/1.2.5">1.2</a></li>
        <li><a href="/1.3.2">1.3</a></li>
        <li><a href="/1.4.7">1.4</a></li>
        <li><a href="/1.5.2">1.5</a></li>
        <li><a href="/1.6.4">1.6</a></li>
        <li><a href="/1.7.10">1.7</a></li>
        <li><a href="/1.8.9">1.8</a></li>
        <li><a href="/1.9.4">1.9</a></li>
        <li><a href="/1.10.2">1.10</a></li>
        <li><a href="/1.11.2">1.11</a></li>
        <li><a href="/1.12.2">1.12</a></li>
        <li><a href="/1.13.2">1.13</a></li>
        <li><a href="/1.14.4">1.14</a></li>
        <li><a href="/1.15.2">1.15</a></li>
        <li><a href="/1.16">1.16</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://gitlab.com/paradaux/howoldisminecraft"> GitLab!</a></li>
      </ul>
    </div>
  </div>
</nav>