<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-12">    
        <div class="jumbotron" style="background-color:#1D1D1D;">
            <h1> <%= versiontitle %> </h1>
            <p><%= version %> is <strong><%= years %></strong> year(s), <strong><%= months %></strong> month(s) and, <strong><%= days %></strong> day(s) old today.</p>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>