<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>


</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" style="background-color:#1D1D1D;">
        <h1>This hasn't been released yet..</h1>
        <hr>
        <p>JHOIMT doesn't support snapshots or pre-releases.</p>

    </div>

    <p>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>